<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Python Guides</title>
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
    
      <h1>List of Employees</h1>
      <table>
        <thead>
          <tr>
            <th style="width: 50px;">Employee ID</th>
            <th>First Name</th>
            <th style="width: 100px;">Last Name</th>
            <th>Department</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td>2</td>
              <td></td>
              <td>/media/images/bg_bo.jpg</td>
              <td>HN</td>
              <td>admin</td>
            </tr>
          
            <tr>
              <td>4</td>
              <td>thanh@gmail.com</td>
              <td>/media/images/avatar_default.jpg</td>
              <td></td>
              <td>thanh</td>
            </tr>
          
            <tr>
              <td>5</td>
              <td>hr@hr.com</td>
              <td>/media/images/avatar_default.jpg</td>
              <td></td>
              <td>hr</td>
            </tr>
              
        </tbody>
      </table>
</body>
</html>